@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Hanken Grotesk", sans-serif;
    overflow-x: hidden;
}

.landing h1{
    font-family: "Bebas Neue", sans-serif;
}


.marquee {
    font-family: "Bebas Neue", sans-serif;
}


.fliptext h1{
    font-family: "Bebas Neue", sans-serif;
}

.projectheading h1{
    font-family: "Bebas Neue", sans-serif;
}


.clientheading h1{
    font-family: "Hanken Grotesk", sans-serif;
}

.heading h1{
    font-family: "Bebas Neue", sans-serif;
}

.footer h1{
    font-family: "Bebas Neue", sans-serif;
}